**Importing the Dependencies**

In [2]:
import numpy as np
import pandas as pd

**Use the Saved the Model**

In [3]:
import pickle

In [4]:
# loading the saved model
loaded_model = pickle.load(open('trained_model.sav', 'rb'))

In [5]:
loaded_vectorizer = pickle.load(open('vectorizer.pickle', 'rb'))

In [6]:
# loading the dataset to a pandas DataFrame
calls_dataset_classification = pd.read_csv('test_data.csv')

In [7]:
calls_dataset_test = calls_dataset_classification['text']
calls_dataset_test

0                                                   Алло
1                                      Алло здравствуйте
2                                            Добрый день
3      Меня зовут ангелина компания диджитал бизнес з...
4                                                    Ага
                             ...
475    По поводу виджетов и с ними уже обсудите конкр...
476    Все я вам высылаю счет и с вами на связи если ...
477                                      Спасибо спасибо
478       Да да тогда созвонимся ага спасибо вам давайте
479                       Ну до свидания хорошего вечера
Name: text, Length: 480, dtype: object

In [8]:
results=[]
for row in calls_dataset_test:
  
  X_new=[row]
  X_new_input=loaded_vectorizer.transform(X_new)
  prediction = loaded_model.predict(X_new_input)
  if (prediction[0]==0):
    results.append('The phrase is Greetings')
  elif(prediction[0]==1):
    results.append('The phrase is Farewell')
  elif(prediction[0]==2):
    results.append('The phrase is Introducing')
  else:
    results.append('The Phrase is Normal Speache')

In [9]:
df1= pd.DataFrame(results)
calls_dataset_result=pd.concat([calls_dataset_classification,df1],axis=1)

In [10]:
calls_dataset_result.columns

Index(['dlg_id', 'line_n', 'role', 'text', 0], dtype='object')

In [11]:
calls_dataset_result.rename(columns = {0:'Kind of Phrase'}, inplace = True)
calls_dataset_result

,dlg_id,line_n,role,text,Kind of Phrase
0,0,0,client,Алло,The Phrase is Normal Speache
1,0,1,manager,Алло здравствуйте,The phrase is Greetings
2,0,2,client,Добрый день,The phrase is Greetings
3,0,3,manager,Меня зовут ангелина компания диджитал бизнес з...,The phrase is Introducing
4,0,4,client,Ага,The Phrase is Normal Speache
...,...,...,...,...,...
475,5,138,manager,По поводу виджетов и с ними уже обсудите конкр...,The Phrase is Normal Speache
476,5,139,manager,Все я вам высылаю счет и с вами на связи если ...,The Phrase is Normal Speache
477,5,140,client,Спасибо спасибо,The phrase is Farewell
478,5,141,client,Да да тогда созвонимся ага спасибо вам давайте,The phrase is Farewell
479,5,142,manager,Ну до свидания хорошего вечера,The phrase is Farewell

# SpaCy

In [12]:
import spacy
from spacy import displacy
from collections import Counter

In [13]:
!python -m spacy download ru_core_news_lg

2022-09-03 13:11:07.441007: E tensorflow/stream_executor/cuda/cuda_driver.cc:271] failed call to cuInit: CUDA_ERROR_NO_DEVICE: no CUDA-capable device is detected
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting ru-core-news-lg==3.4.0
  Downloading https://github.com/explosion/spacy-models/releases/download/ru_core_news_lg-3.4.0/ru_core_news_lg-3.4.0-py3-none-any.whl (513.4 MB)
     |████████████████████████████████| 513.4 MB 12 kB/s
Requirement already satisfied: pymorphy2>=0.9 in /usr/local/lib/python3.7/dist-packages (from ru-core-news-lg==3.4.0) (0.9.1)
Requirement already satisfied: spacy<3.5.0,>=3.4.0 in /usr/local/lib/python3.7/dist-packages (from ru-core-news-lg==3.4.0) (3.4.1)
Requirement already satisfied: pymorphy2-dicts-ru<3.0,>=2.4 in /usr/local/lib/python3.7/dist-packages (from pymorphy2>=0.9->ru-core-news-lg==3.4.0) (2.4.417127.4579844)
Requirement already satisfied: docopt>=0.6 in /usr/local/lib/python3.7/dist-packages (from pymorphy2>=0.9->ru-core-news-lg==3.4.0) (0.6.2)
Requirement already satisfied: dawg-python>=0.7.1 in /usr/local/lib/python3.7/dist-packages (from pymorphy2>=0.9->ru-core-news-lg==3.4.0) (0.7.2)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->ru-core-news-lg==3.4.0) (2.0.6)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->ru-core-news-lg==3.4.0) (1.0.8)
Requirement already satisfied: wasabi<1.1.0,>=0.9.1 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->ru-core-news-lg==3.4.0) (0.10.1)
Requirement already satisfied: typing-extensions<4.2.0,>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->ru-core-news-lg==3.4.0) (4.1.1)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->ru-core-news-lg==3.4.0) (0.4.2)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->ru-core-news-lg==3.4.0) (4.64.0)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->ru-core-news-lg==3.4.0) (2.23.0)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.9 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->ru-core-news-lg==3.4.0) (3.0.10)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->ru-core-news-lg==3.4.0) (3.3.0)
Requirement already satisfied: pathy>=0.3.5 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->ru-core-news-lg==3.4.0) (0.6.2)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->ru-core-news-lg==3.4.0) (1.21.6)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->ru-core-news-lg==3.4.0) (2.4.4)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->ru-core-news-lg==3.4.0) (2.11.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->ru-core-news-lg==3.4.0) (57.4.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->ru-core-news-lg==3.4.0) (21.3)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->ru-core-news-lg==3.4.0) (2.0.8)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.10.0,>=1.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->ru-core-news-lg==3.4.0) (1.9.2)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->ru-core-news-lg==3.4.0) (3.0.7)
Requirement already satisfied: thinc<8.2.0,>=8.1.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->ru-core-news-lg==3.4.0) (8.1.0)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->ru-core-news-lg==3.4.0) (1.0.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from catalogue<2.1.0,>=2.0.6->spacy<3.5.0,>=3.4.0->ru-core-news-lg==3.4.0) (3.8.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->spacy<3.5.0,>=3.4.0->ru-core-news-lg==3.4.0) (3.0.9)
Requirement already satisfied: smart-open<6.0.0,>=5.2.1 in /usr/local/lib/python3.7/dist-packages (from pathy>=0.3.5->spacy<3.5.0,>=3.4.0->ru-core-news-lg==3.4.0) (5.2.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->ru-core-news-lg==3.4.0) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->ru-core-news-lg==3.4.0) (2022.6.15)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->ru-core-news-lg==3.4.0) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->ru-core-news-lg==3.4.0) (3.0.4)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in /usr/local/lib/python3.7/dist-packages (from thinc<8.2.0,>=8.1.0->spacy<3.5.0,>=3.4.0->ru-core-news-lg==3.4.0) (0.7.8)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.7/dist-packages (from typer<0.5.0,>=0.3.0->spacy<3.5.0,>=3.4.0->ru-core-news-lg==3.4.0) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->spacy<3.5.0,>=3.4.0->ru-core-news-lg==3.4.0) (2.0.1)
✔ Download and installation successful
You can now load the package via spacy.load('ru_core_news_lg')

In [14]:
import ru_core_news_lg
rnlp = ru_core_news_lg.load()

In [15]:
calls_dataset_SpaCy = calls_dataset_classification['text']
calls_dataset_SpaCy

0                                                   Алло
1                                      Алло здравствуйте
2                                            Добрый день
3      Меня зовут ангелина компания диджитал бизнес з...
4                                                    Ага
                             ...
475    По поводу виджетов и с ними уже обсудите конкр...
476    Все я вам высылаю счет и с вами на связи если ...
477                                      Спасибо спасибо
478       Да да тогда созвонимся ага спасибо вам давайте
479                       Ну до свидания хорошего вечера
Name: text, Length: 480, dtype: object

In [16]:
Managers=[]
for idx,element in enumerate(calls_dataset_SpaCy):
  doc_frame = rnlp(element)
  for X in doc_frame.ents:
    if X.label_=='PER':
      Managers.append((idx, X.text))

In [17]:
df2= pd.DataFrame(Managers)
df2.rename(columns = {0:"Row's number in dataset",1:"Manager's Name"}, inplace = True)
df2

    Row's number in dataset Manager's Name
0                         3       ангелина
1                       111       ангелина
2                       159  денис дэ е эн
3                       167       ангелина
4                       251         максим
5                       251     китобизнес
6                       253      анастасия
7                       319          айдар
8                       341           дима
9                       348       ла ла ла
10                      358      анастасия
11                      438       вячеслав
12                      444         максим

In [18]:
Organization=[]
for idx,element in enumerate(calls_dataset_SpaCy):
  doc_frame = rnlp(element)
  for X in doc_frame.ents:
    if X.label_=='ORG':
      Organization.append((idx, X.text))

In [19]:
df3= pd.DataFrame(Organization)
df3.rename(columns = {0:"Row's number in dataset",1:"Organization's Name"}, inplace = True)
df3

   Row's number in dataset Organization's Name
0                      282                 амо
1                      285        амо си эр эм
2                      410                 амо